*{
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.img-omelette{
    object-fit: cover;
    width: 100%;
    height: 450px;

}

.container-image{
    background-size: cover;
    background-position: center;

}

.col-md-4{
    width: 350px;
    height: 190px;
    background-color: #F5F2F0;
}


